<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>お金かんりすべ</title>
</head>
<body>
	<h1>目標設定</h1>
	<a th:href="@{/}">TOPへ</a>
	
    <table>
        <tr th:if="${validationError}" th:each="error : ${validationError}">
            <td style="color: red;" th:text="${error}"></td>
        </tr>
    </table>
	<div>
		<form th:action="@{/mokuhyouSet}" th:object="${mokuhyouSetRequest}" method="post">
			<input type="number" name="mokuhyou" th:field="*{nowMokuhyou}">

			<br/>
			<input type="submit" value="目標設定"/>
		</form>
	</div>
</body>
</html>