<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demp.dao.PaymentMapper">

    <!-- 収支履歴登録 -->
    <insert id="insert">
        INSERT INTO payment (userid, seq, paymoney, paymokuteki, paydate) 
        VALUES 
        (
         #{id},
         (select maxseq from (select max(seq) + 1 as maxseq from payment where userid = #{id}) as h),
         #{money},
         #{reason},
         CURRENT_TIMESTAMP()
        ) 
    </insert>
    
    <!-- 収支履歴全検索  -->
    <select id="selectAll" resultType="com.example.demp.entity.PaymentInfo">
    	SELECT userid, seq, paymoney, paymokuteki, date_format(paydate,'%Y/%m/%d %H:%i:%s') as paydate  FROM payment where userid = #{id}
    </select>
    
    <!-- 収支履歴全検索  -->
    <select id="searchPaymentData" resultType="com.example.demp.entity.PaymentInfo">
    	SELECT userid, seq, paymoney, paymokuteki, date_format(paydate,'%Y/%m/%d %H:%i:%s') as paydate  FROM payment 
    	where userid = #{userId} and 
    	date_format(paydate,'%Y/%m/%d %H:%i:%s') between date_format(#{startDate},'%Y/%m/%d 00:00:00') and date_format(#{endDate},'%Y/%m/%d 23:59:59')
    	<if test="plusFlg != true and  minusFlg == true">
    		and paymoney <![CDATA[ < ]]> 0
    	</if>
    	<if test="minusFlg != true and plusFlg == true">
    		and paymoney <![CDATA[ > ]]> 0
    	</if>
    	<if test="minusFlg == true and plusFlg == true">
    		and paymoney != 0
    	</if>
    	<if test="minusFlg != true and plusFlg != true">
    		and paymoney != 0
    	</if>
    	
    </select>
    <delete id="deletePaymentData">
    	delete from payment where userid = #{id} and seq = #{seq}
    </delete>
</mapper>